.app_container {
  min-height: 100vh;
  border: 1px solid;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 24%;
  box-shadow: 1px 0px 16px grey;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 1rem;
  line-height: 1.5;
}

.app_name {
  color: pink;
  margin: 0;
}

.content_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_block {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 1rem;
}

.input_container {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
}

@media (max-width: 800px) {
  .app_container {
    margin: 0;
    border: none;
  }
  .content_container {
    width: 100%;
  }
}