@import "common";

.title {
  margin: 0;
  line-height: 1.15;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 1rem;
  line-height: 1.5;
}

.app_name {
  color: pink;
  margin: 0;
}

.toggle_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
	margin: 16px;
}

.input_block {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.input_container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.submit {
	margin: 16px 0px;
}

@media (max-width: 800px) {
  .app_container {
    width: 100%;
    border: none;
  }
  .content_container {
    width: 100%;
  }
}