@import "common";

$videowidth: 320px;
$border: 1px solid black;
$border-radius: 8px;

.meetid_container {
	display: flex;
	justify-content: space-evenly;
	margin: 16px 0px;
}
.meetid {
	margin: 0;
	width: 65%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

.videosContainer {
	display: flex;
	overflow-x: auto;
	gap: 4%;
	padding: 2%;
	border: $border;
	border-radius: $border-radius;
	background-color: cornflowerblue;
	margin: 0 4%;
	width: 92%;
}

.loadingText {
	color: white;
	font-weight: 500;
	margin: auto;
}

.participantContainer {
	border: $border;
	border-radius: $border-radius;
	padding: 8px;
	background-color: yellow;
	margin: auto;
}

.participantName {
	display: flex;
	justify-content: center;
	padding: 4px;
	margin: 0;
	border: $border;
	border-radius: $border-radius;
	text-overflow: ellipsis;
	font-weight: 500;
	background-color: deeppink;
	color:white;
}

.video {
	width: $videowidth;
	border-radius: $border-radius;
}