@import "common";

.switch_btns {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 12px 0px;
}

.meetdescription_container {
	margin: 16px 0px;
	width: 100%;
}

.meetname_container, .meetid_container {
	text-align: center;
}

.meetname_container {
	margin: 12px 0px;
}

.meetid_container {
	display: flex;
	justify-content: center;
	margin: 0px 36px;
}
.meetid {
	margin: 0px 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}